table tbody tr:nth-child(odd) {
	background: #b8e6ff;
}
table tbody tr:nth-child(even) {
	background: #e5f3fa;
}
table thead {
  background: #548fc2;
  color: #fff;
  font-size: 14px;
}
table, th, td {
  border: 1px solid white;
}
table {
  border-collapse: collapse;
  width: 100%;
}
